<!DOCTYPE html>
<html lang="de" ng-app="cryptoClient">
    <head><!--{{{-->
        <meta charset="utf-8"> </meta>
        <title>CryptoOne</title>

        <script src="/app/lib/jquery/dist/jquery.js"></script>
        <script src="/app/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="/app/lib/angular/angular.js"></script>
        <script src="/app/lib/angular-route/angular-route.js"></script>
        <script src="/app/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/app/lib/angular-resource/angular-resource.js"></script>
        <script src="/app/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="/app/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/app/lib/angular-animate/angular-animate.js"></script>
        <script src="/app/lib/angular-ui-grid/ui-grid.min.js"></script>
        <script src="/app/lib/angular-translate/angular-translate.js"></script>
        <script src="/app/lib/angular-translate-static-file-loader/angular-translate-loader-static-files.min.js"></script>
        <script src="/app/lib/angular-local-storage.js"></script>
        <!--
           -<script src="/app/lib/thinbus-srp6a-sha256-versioned.js"></script>
           -->
        <script src="/app/lib/simple-password-meter.js"></script>
        <script src="/app/lib/signin.js"></script>
        <script src="/app/lib/signup.js"></script>


        <script src="/app/app.js"></script>
        <script src="/app/app_modules.js"></script>
        <script src="/app/app_config.js"></script>
        <script src="/app/app_route.js"></script>

        <!--
           -Services and Factories
        -->
        <script src="/app/common/services/i18n.js"></script>
        <script src="/app/common/services/api_http.service.js"></script>
        <script src="/app/common/services/auth.service.js"></script>
        <script src="/app/common/services/srp.service.js"></script>


        <!--
           -Controllers
        -->
        <script src="/app/common/controllers/i18n.js"></script>
        <script src="/app/components/users/users.controller.js"></script>
        <script src="/app/components/sign-up/sign-up.controller.js"></script>
        <script src="/app/components/sign-in/sign-in.controller.js"></script>
        <script src="/app/components/groups/groups.controllers.js"></script>
        <script src="/app/components/documents/document.controller.js"></script>


        <!--
           -Directives
        -->
        <script src="/app/components/users/users.directive.js"></script>
        <script src="/app/components/documents/document.directives.js"></script>



        <link rel="stylesheet" href="/app/lib/bootstrap/dist/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8"> </link>
        <link rel="stylesheet" href="/app/lib/angular-ui-grid/ui-grid.min.css" type="text/css" media="screen" title="no title" charset="utf-8">   </link> 
        <link rel="stylesheet" href="/app/lib/angular-bootstrap/ui-bootstrap-csp.css" type="text/css" media="screen" title="no title" charset="utf-8">   </link> 


    </head><!--}}}-->

<body>

<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/fab-du/cryptoClient">
          <span class="glyphicon glyphicon-home"></span> {{ 'header.app_name' | translate}}
      </a>
    </div>


    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
          <li class="active"><a ng-href="#">  {{ 'header.home'  | translate }}  </a></li>

          <li><a ui-sref="users"> {{ 'common.name.members' | translate }}
              </a>
          </li>

          <li><a ui-sref="documents"> {{ 'common.name.documents' | translate }}
              </a>
          </li>

          <li><a ui-sref="groups"> {{ 'common.name.group' | translate }}
              </a>
          </li>

          <li><a ui-sref="keys"> {{ 'common.name.key' | translate }}
              </a>
          </li>

          <li style="background-color:#3498db;" >
              <a ui-sref="signin" style="color:white" > 
                  <span class="glyphicon glyphicon-log-in"></span>
                  {{ 'action.sign-in' | translate }}
              </a>
          </li>

          <li role="separator" class="divider"></li>

          <li style="background-color:#3498db; margin-left: 5px;">
              <a ui-sref="signup" style="color:white;"> 
                <span class="glyphicon glyphicon-user"></span>
                {{ 'action.sign-up' | translate }}
              </a>
          </li>

          <li><a ui-sref="sign-off"> {{ 'action.exit' | translate }}
              </a>
          </li>
      </ul>
    </div>

        <div class="pull-right"  ng-controller="I18nCtrl"  >
            <strong ng-controller="langChangedController" style="color : white"> {{ 'lang.lang' | translate }} : {{ currentLanguage }} </strong>
            <button type="button" class="btn btn-danger" data-toggle="dropdown" toggle-dropdown >
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="" ng-click="translate('de')"> {{ 'lang.german' | translate }}<img style="width:25px; height:25px" src="assets/images/de.png"> </a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="" ng-click="translate('en')"> {{ 'lang.english' | translate }}<img  style="width:25px; height:25px" src="assets/images/en.png"> </a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Kamerun<img  style="width:25px; height:25px" src="assets/images/cm.png"></a></li>
            </ul>
        </div>
    

  </div>
</nav>

    <div class="container" >
        <div ui-view class="jumbotron text-center">

        </div>
    </div>


</body>

</html>


