<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8"> </meta>
        <title>CryptoOne</title>

        <script src="/app/lib/jquery/dist/jquery.js"></script>
        <script src="/app/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="/app/lib/angular/angular.js"></script>
        <script src="/app/lib/angular-route/angular-route.js"></script>
        <script src="/app/lib/angular-resource/angular-resource.js"></script>
        <script src="/app/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="/app/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/app/lib/angular-animate/angular-animate.js"></script>
        <script src="/app/lib/angular-ui-grid/ui-grid.min.js"></script>
        <script src="/app/lib/angular-translate/angular-translate.js"></script>


        <script src="/app/app.js"></script>
        <script src="/app/app_modules.js"></script>
        <script src="/app/app_config.js"></script>

        <!--
           -Services and Factories
        -->
        <script src="/app/common/services/i18n.js"></script>
        <script src="/app/common/services/api_http.service.js"></script>
        <script src="/app/common/services/auth.service.js"></script>


        <!--
           -Controllers
        -->
        <script src="/app/common/controllers/i18n.js"></script>




        <link rel="stylesheet" href="/app/lib/bootstrap/dist/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8"> </link>
        <link rel="stylesheet" href="/app/lib/angular-ui-grid/ui-grid.min.css" type="text/css" media="screen" title="no title" charset="utf-8">   </link> 
        <link rel="stylesheet" href="/app/lib/angular-bootstrap/ui-bootstrap-csp.css" type="text/css" media="screen" title="no title" charset="utf-8">   </link> 


    </head>

<body>

    <div>
        
            <h1>Welcome !</h1>
            <p class="lead">
            <img src="/assets/images/logo.png" alt="I'm Yeoman"></br>
            </p>
        
            <p class="animated infinite" >
            <button type="button" class="btn btn-lg btn-success" > Demo </button>
            </p>
    </div>


</body>

</html>


